/*-----------profile page css------------*/
html{
    width: 100%;
    height: auto
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
}
.proContainer{
    padding-bottom: 3%;
}

.header{
    overflow: hidden;
    text-align: center;
    top: 0;
    background-color: #F8F8F8;
    color: gray;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 1.2em;
    box-shadow: 0 0 6px 3px #D3D3D3;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 80px;
     -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.header p{
    font-size: 1.5em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.header.shrink{
    height: 60px;
}

.header.shrink p{
    font-size: 1em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.header.shrink #insIcon{
    width: 20px;
}
.header.shrink #limitNum{
    height: 25px;
}

#title{
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    color: #909090;
}
.in{
    display: inline-block;
    margin-left: 40%;
}
#insIcon{
    width: 30px;
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}
.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  opacity: 0.7;
  background-clip: text;
}

#limitNum{
    border: none;
    border:solid 1px #ccc;
    border-radius: 5px;
    width: 200px;
    font-family: FontAwesome, 'Nanum Brush Script', cursive;
    color: gray;
    text-align: center;
}

#limitNum::placeholder{
    text-align: center;
    color: #909090;
    opacity: 0.8;
}

#limitNum:focus{
    outline: none;
}

.loading {
  margin: auto;
  width: 100px;
  margin-top: 25%;
  zoom: 1;
}
.loading:before {
  content: '';
  display: block;
}
.loading:after {
  content: '';
  display: table;
  clear: both;
}
.text {
  float: left;
  color: darkgray;
  font-weight: bold;
  font-family: 'Nanum Brush Script', cursive;
  font-size: large;
}
.blob {
  border-radius: 50%;
  background-color: darkgray;
  display: block;
  float: left;
  margin: 5px 2px;
  position: relative;
  top: 6px;
  height: 3px;
  width: 3px;
  animation: loading-blob 1.2s infinite;
  animation-timing-function: ease-in-out;
  transform: translate3d(0, 0, 0);
}
.blob2 {
  animation-delay: 150ms;
}
.blob3 {
  animation-delay: 300ms;
}
@keyframes fly {
  0% {
    background-position: 0 0;
  }
  33% {
    background-position: -250 0;
  }
  66% {
    background-position: -450px 0;
  }
}
@keyframes loading-blob {
  0% {
    height: 3px;
    width: 3px;
  }
  25% {
    height: 7px;
    width: 7px;
  }
  50% {
    height: 5px;
    width: 5px;
  }
  100% {
    height: 3px;
    width: 3px;
  }
}

.profileCon{
    margin-top: 13%;
    text-align: center;
}

.profileCon a{
    text-decoration: none;
    color: gray;
}

.profileCon p{
    font-family: 'Nanum Brush Script', cursive;
}

.context{
    padding: 5% 10% 2% 10%;
    text-align: center;
}

.context a{
    text-decoration: none;
    color: gray;
}

.card-img-top{
    padding: 5px;
}
@media handheld, screen (max-width:1007px) and (min-width:640px){
    .in{
        display: block;
        margin-right: 40%;
        padding-bottom: 5px;
    }
    #limitNum{
        width: 300px;
        margin-left: -50%;
    }
    .header{
        width: 100%;
        height: 120px;
    }
}

@media screen and (max-width:640px){
    #limitNum{
       width: 150px;
    }
    .header{
        width: 100%;
        font-size: 0.8em;
    }
    #title{
    }
    .in{
        padding-bottom: 5px;
    }
    .profileCon{
        margin-top: 30%;
    }
    
    
}